<div class="button-container">
    <button (click)="openAddForm()" class="add-button">Add New
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 5l0 14" />
            <path d="M5 12l14 0" />
        </svg>
    </button>
</div>

<div class="clientInfo">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{cliente.id}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.direccion}}</td>
                <td>{{cliente.telefono}}</td>
                <td>
                    <button (click)="openInfoForm(cliente)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle"
                            width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                            <path d="M12 9h.01" />
                            <path d="M11 12h1v4h1" />
                        </svg>
                    </button>
                    <button (click)="openEditForm(cliente)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil-up"
                            width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                            <path d="M13.5 6.5l4 4" />
                            <path d="M19 22v-6" />
                            <path d="M22 19l-3 -3l-3 3" />
                        </svg>
                    </button>
                    <button (click)="openDeleteForm(cliente)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24"
                            height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M4 7l16 0" />
                            <path d="M10 11l0 6" />
                            <path d="M14 11l0 6" />
                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                        </svg>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal" [ngClass]="{'visible':isAdd}">
    <!-- Add -->
    <form class="modal__form" [ngClass]="{'visibleForm':isAdd}">
        <div class="modal__form--exit">
            <svg (click)="closeModal()" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x"
                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
            </svg>
        </div>
        <fieldset class="fieldset">
            <legend class="fieldset__legend">Add new client</legend>
            <div class="fieldset__inputs">
                <div class="inputbox">
                    <input [(ngModel)]="currentClient.id" type="number" required="required" name="id"
                        class="inputbox__field">
                    <span class="inputbox__placeholder">Dni</span>
                </div>
                <div class="inputbox">
                    <input [(ngModel)]="currentClient.nombre" type="text" required="required" name="username"
                        class="inputbox__field">
                    <span class="inputbox__placeholder">Name</span>
                </div>
                <div class="inputbox">
                    <input [(ngModel)]="currentClient.apellido" type="text" required="required" name="lastname"
                        class="inputbox__field">
                    <span class="inputbox__placeholder">Last Name</span>
                </div>
                <div class="inputbox">
                    <input [(ngModel)]="currentClient.direccion" type="text" required="required" name="address"
                        class="inputbox__field">
                    <span class="inputbox__placeholder">Address</span>
                </div>
                <div class="inputbox">
                    <input [(ngModel)]="currentClient.telefono" type="tel number" required="required" name="phone"
                        class="inputbox__field">
                    <span class="inputbox__placeholder">Phone</span>
                </div>
                <!-- <span *ngIf="!isUserValid" style="color: rgb(221,44,0);">{{message}}</span> -->
                <input (click)="addUser()" type="submit" class="fieldset__inputs--submit" value="Add">
            </div>
        </fieldset>
    </form>
</div>

<!-- Info -->
<div class="modal" [ngClass]="{'visible':isInfo}">
    <div class="modal__form" [ngClass]="{'visibleForm':isInfo}">
        <div class="modal__form--exit">
            <svg (click)="closeModal()" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x"
                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
            </svg>
        </div>
        <legend class="fieldset__legend">Info <!-- {{name}} --></legend>
        <div class="fieldset">
            <div class="fieldset__inputs infoLabels">
                <div class="infoLabel">
                    <h2>Client Id</h2>
                    <p><!-- {{id}} -->1000204474</p>
                </div>
                <div class="infoLabel">
                    <h2>Client Name</h2>
                    <p><!-- {{nombre}} -->Simon</p>
                </div>
                <div class="infoLabel">
                    <h2>Client Last Name</h2>
                    <p><!-- {{apellido}} -->Sanchez</p>
                </div>
                <div class="infoLabel">
                    <h2>Client Address</h2>
                    <p><!-- {{direccion}} -->Calle Laureles 30</p>
                </div>
                <div class="infoLabel">
                    <h2>Client Phone</h2>
                    <p><!-- {{telefono}} -->3046540076</p>
                </div>
                <div class="infoLabel">
                    <h2>Pet Id</h2>
                    <p><!-- {{pet.id}} -->2</p>
                </div>
                <div class="infoLabel">
                    <h2>Pet Name</h2>
                    <p><!-- {{mascota.nombre}} -->Lupe</p>
                </div>
                <div class="infoLabel">
                    <h2>Pet Breed</h2>
                    <p><!-- {{mascota.raza}} -->Pinsher</p>
                </div>
                <div class="infoLabel">
                    <h2>Pet Age</h2>
                    <p><!-- {{mascota.edad}} -->13</p>
                </div>
                <div class="infoLabel">
                    <h2>Pet Weight</h2>
                    <p><!-- mascota.peso -->4</p>
                </div>
                <!-- Ciclo (porque una mascota puede tener varios medicamentos) ngfor* -->
                <div class="infoLabel">
                    <h2>Medication Id</h2>
                    <p><!-- {{medicamento.id}} -->2</p>
                </div>
                <div class="infoLabel">
                    <h2>Medication Name</h2>
                    <p><!-- {{medicamento.nombre}} -->Dolex niños</p>
                </div>
                <div class="infoLabel">
                    <h2>Medication Description</h2>
                    <p><!-- {{medicamento.descripcion}} -->Esto lo pone a volar...y a su perro lo pone a decir miau</p>
                </div>
                <div class="infoLabel">
                    <h2>Medication Dosage</h2>
                    <p><!-- {{medicamento.dosis}} -->Hasta que sienta que el perro esta convulsionando</p>
                </div>
                <!-- <span *ngIf="!isUserValid" style="color: rgb(221,44,0);">{{message}}</span> -->
                <!-- <input type="submit" class="fieldset__inputs--submit" value="Add"> -->
            </div>
        </div>

    </div>
</div>

<!-- Edit -->
<div class="modal" [ngClass]="{'visible':isEdit}">
    <form class="modal__form" [ngClass]="{'visibleForm':isEdit}" action="">
        <div class="modal__form--exit">
            <svg (click)="closeModal()" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x"
                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
            </svg>
        </div>
        <fieldset class="fieldset">
            <legend class="fieldset__legend">Edit <!-- nombre --> info</legend>
            <div class="fieldset__inputs">
                <div class="inputbox">
                    <input [(ngModel)]="currentClient.id" type="text" required="required" name="id"
                        class="inputbox__field">
                    <span class="inputbox__placeholder">Dni</span>
                </div>
                <div class="inputbox">
                    <input [(ngModel)]="currentClient.nombre" type="text" required="required" name="username"
                        class="inputbox__field">
                    <span class="inputbox__placeholder">Name</span>
                </div>
                <div class="inputbox">
                    <input [(ngModel)]="currentClient.apellido" type="text" required="required" name="lastname"
                        class="inputbox__field">
                    <span class="inputbox__placeholder">Last Name</span>
                </div>
                <div class="inputbox">
                    <input [(ngModel)]="currentClient.direccion" type="text" required="required" name="address"
                        class="inputbox__field">
                    <span class="inputbox__placeholder">Address</span>
                </div>
                <div class="inputbox">
                    <input [(ngModel)]="currentClient.telefono" type="tel number" required="required" name="phone"
                        class="inputbox__field">
                    <span class="inputbox__placeholder">Phone</span>
                </div>
                <!-- <span *ngIf="!isUserValid" style="color: rgb(221,44,0);">{{message}}</span> -->
                <input (click)="editarUsuario()" type="submit" class="fieldset__inputs--submit" value="Save">
            </div>
        </fieldset>
    </form>
</div>

<!-- Delete -->
<div class="modal" [ngClass]="{'visible':isDelete}">
    <form class="modal__form" [ngClass]="{'visibleForm':isDelete}" action="">
        <div class="modal__form--exit">
            <svg (click)="closeModal()" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x"
                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
            </svg>
        </div>
        <fieldset class="fieldset">
            <legend class="fieldset__legend">Are you sure?</legend>
            <div class="fieldset__inputs">
                <h2>El cliente {{currentClient.nombre}} con dni {{currentClient.id}} sera elimindo</h2>
                <input (click)="delete()" type="submit" class="fieldset__inputs--submit" value="Confirmar">
            </div>
        </fieldset>
    </form>
</div>