<div class="button-container">
    <button class="add-button">Add New
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 5l0 14" />
            <path d="M5 12l14 0" />
        </svg>
    </button>
</div>
<div class="container">
    <div class="grid">
        <button class="add-button">Add New
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
            </svg>
        </button>
        <table>
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>address</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
            <tr>
                <td>Andres</td>
                <td>Rodriguez</td>
                <td>cra 59c</td>
                <td>3014887754</td>
                <td><button>hola</button></td>
            </tr>
        </table>
    </div>
</div>