<nav class="navbar">
    <a (click)="navigateHome()" class="navbar__brand">PETS S.A Manage Center</a>
    <div class="links">
        <ng-container *ngIf="!isLoginPage()">
            <a (click)="navigateClientes()" class="link link__clients" [ngClass]="{'link--active':isClients}">Clientes</a>
            <a (click)="navigateMascotas()" class="link link__pets" [ngClass]="{'link--active':isPets}">Mascotas</a>
            <a (click)="navigateMedicamentos()" class="link link__farmacy" [ngClass]="{'link--active':isFarmacy}">Medicamentos</a>
        </ng-container>
    </div>
</nav>
<div class="main-content">
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <h2>Veterinaria PETS S.A. @All right reserved 2024.</h2>
</footer>